select{background-color: white; line-height: 1em; outline: none;
	padding: 5px 25px 5px 5px; border-radius: 10%; border: solid black 1px; font: .9em Arial, sans-serif;
	
	/*Reset*/
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0;
	-webkit-appearance: none; -moz-appearance: none;
	
	/*Arrow*/
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
	background-position: calc(100% - 15px), calc(100% - 10px);
	background-size: 5px 5px, 5px 5px;
	background-repeat: no-repeat;}
	select:hover{box-shadow: 1px 5px 7px #888888;}
main{font-family: Arial, sans-serif; font-size: 0.9em;}
	#raceOptions{margin: 10px 0; border: 1px solid black;}
		#raceOptions tr:nth-child(even){background-color: #EEEEEE;}
		.optName{font-weight: bold;}
		.boxContainer{max-width: 700px; padding: 2px 5px 2px 0;}
			.boxContainer label{margin-left: 10px; display: inline-block;}
	.buttonBox{margin: 10px 0;}
		#raceDrop{}
		.buttonBox button{ border-style: solid; background-color: #DDFFAA; border-color: black; border-radius: 10%; border-width: 1px; 
			padding: 6px; outline: none; font: .9em Arial, sans-serif; line-height: 1em;}
			.buttonBox button:hover{box-shadow: 1px 5px 7px #888888;}
	#npcResult{display: inline-block; border: 1px solid black; max-width: 700px;}
		#npcResult div{padding: 3px;}
		#npcResult div:nth-child(even){background-color: #EEEEEE;}